#section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: cursive;
}

button {
  padding: 15px;
  color: white;
  background-color: red;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  font-size: 20px;
}

.mystyle {
  border-radius: 50%;
  background: forestgreen;
}